html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
}

.outer-container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    padding: 50px;
    border: 4px black solid;
    border-radius: 6px;
}

.inner-container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
}

img {
    width: 150px;
    margin: 0 auto;
}

.box {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 5px;
}

#total-sum, #expenseHeader, #expense-amt {
    color: goldenrod;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

#total-sum, #expense-amt {
    display:inline-block;
    width: 50px;
    margin-left: 50px;

}
  
  ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
  
  }
  
  li {
    margin-top: 5px;
    font-size: 18px;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
  }



button {
    color: #FDFDFD;
    background-color: #AC485A;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}


#fds-tag {
    margin-top: 5%;
    margin-bottom: 0px; 
    color: lightslategrey;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size:medium;
}

