html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: whitesmoke;
}

.outer-container {
    /* display: flex; */
    flex-direction: column;
    max-width: 320px;
    max-height: fit-content;
    margin: 30px auto;
    padding: 50px;
    border: 4px black solid;
    border-radius: 6px;
    /* height: 550px; */
    width: 350px;
    
}

.inner-container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
}

img {
    width: 150px;
    margin-left: 85px; 
}

.box {
    color: slategray;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 5px;
}

#expenseHeader {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

.totalContainers {
    color: goldenrod;
    margin-top: -15px;
    margin-bottom: 25px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;

}

.calculationContainers{
    display:inline-block;
    margin-left: 35px;
}


.calculationLabel {
    width:fit-content;
    color: goldenrod;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;

}
  
  ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
  }
  
  li {
    margin-top: 5px;
    font-size: 18px;
    color: darkslategray;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    list-style-type: none;
  }



button {
    color: #FDFDFD;
    background-color: #AC485A;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.tabs {
    display: flex;
    flex-direction: column;
  }
  
  .tab-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .tab-link {
    padding: 10px 15px;
    border: 1px solid #ccc;
    margin-right: 5px;
    cursor: pointer;
    background-color: #f0f0f0; 
  }
  
  .tab-link.active {
    background-color: #fff;
    border-bottom: 1px solid maroon;
  }
  
  .tab-content {
    display: none; 
    padding: 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  
  .tab-content.active {
    display: block; 
  }



#fds-tag {
    margin-top: 5%;
    margin-bottom: 0px; 
    color: lightslategrey;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size:medium;
}

